.green-btn{
    background: #4CAF4F;
    color: #FFF;
    font-weight: 400;
}
.green-btn:hover,.green-btn:focus{
    background: #38853b;
    color: #FFF;
}
.link-color{
    color: #4CAF4F;
}

.text-translater{
    transform: translate(-70%);
    background: #FFF ;
}
.button-green{
    background-color: #4CAF4F;
    width: 50%;
}

.link-color{
    color: #4CAF4F;
}
.text-translate{
    transform: translateY(-70%);
    background: #f5f7fa;
    padding: 30px;
    width: 317px;
    margin: auto;
    border-radius: 10px;
}